$brand-black: #232323;
$brand-blue: #5C87DB;
$brand-blue-light: #5C87DB;
$brand-blue-disabled: #8BA5D8;
$brand-gray-dark: #5C5C5C;
$selected-gray: #DDE3EE;

$border-gray: #B7BAC1;
$placeholder-gray: #B7BAC1;

$color-white: #ffffff;
$color-light-gray: #B7BAC1;
